body{
    margin: 0;
    padding: 0;
    background-color:hotpink;
}

header, footer{
    width: 100%;
    background-color: violet;
}
header{
    width: 100%;
    height: 15vh;
}
footer{
    height: 5vh;
}
.contPrincp{
    display: flex;
}